{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="container" style="height: 2000px">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">发电量预测</h3>
        </div>
        <div class="panel-body">
            <div id="m1" style="width: 100%;height: 400px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">同期发电量对比</h3>
                </div>
                <div class="panel-body">
                    <div id="m2" style="height: 500px;width: 100%"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">故障信息统计</h3>
                </div>
                <div class="panel-body">
                    <div id="m3" style="width: 100%;height: 500px;margin-top: 40px;margin-bottom: -40px"></div>
                </div>
            </div>
        </div>
        {#        </div>#}
        {#        <div class="panel panel-info">#}
        {#            <div class="panel-heading">#}
        {#                <h3 class="panel-title">饼状图</h3>#}
        {#            </div>#}
        {#            <div class="panel-body">#}
        {#                <div id="m3" style="width: 100%;height: 400px"></div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/echarts/dist/echarts.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            initBar();
            initPie();
            initLine();
        })

        function initBar() {
            var myChart = echarts.init(document.getElementById('m2'));

            // 指定图表的配置项和数据
            var option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                legend: {},
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '',
                        type: 'bar',
                        emphasis: {
                            focus: 'series'
                        },
                        data: [320, 332, 301, 334, 390, 330, 320]
                    },
                    {
                        name: '',
                        type: 'bar',
                        stack: 'Ad',
                        emphasis: {
                            focus: 'series'
                        },
                        data: [120, 132, 101, 134, 90, 230, 210]
                    },
                    {
                        name: '',
                        type: 'bar',
                        stack: 'Ad',
                        emphasis: {
                            focus: 'series'
                        },
                        data: [220, 182, 191, 234, 290, 330, 310]
                    },
                    {
                        name: '',
                        type: 'bar',
                        stack: 'Ad',
                        emphasis: {
                            focus: 'series'
                        },
                        data: [150, 232, 201, 154, 190, 330, 410]
                    },
                    {
                        name: '',
                        type: 'bar',
                        data: [862, 1018, 964, 1026, 1679, 1600, 1570],
                        emphasis: {
                            focus: 'series'
                        },
                        markLine: {
                            lineStyle: {
                                type: 'dashed'
                            },
                            data: [[{type: 'min'}, {type: 'max'}]]
                        }
                    },
                    {
                        name: '',
                        type: 'bar',
                        barWidth: 5,
                        stack: 'Search Engine',
                        emphasis: {
                            focus: 'series'
                        },
                        data: [620, 732, 701, 734, 1090, 1130, 1120]
                    },
                    {
                        name: '',
                        type: 'bar',
                        stack: 'Search Engine',
                        emphasis: {
                            focus: 'series'
                        },
                        data: [120, 132, 101, 134, 290, 230, 220]
                    },
                    {
                        name: '',
                        type: 'bar',
                        stack: 'Search Engine',
                        emphasis: {
                            focus: 'series'
                        },
                        data: [60, 72, 71, 74, 190, 130, 110]
                    },
                    {
                        name: '',
                        type: 'bar',
                        stack: 'Search Engine',
                        emphasis: {
                            focus: 'series'
                        },
                        data: [62, 82, 91, 84, 109, 110, 120]
                    }
                ]
            };
            myChart.setOption(option);
        }

        function initPie() {
            var myChart = echarts.init(document.getElementById('m3'));

            option = {
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    top: '5%',
                    left: 'center'
                },
                backgroundColor: "#FFFFFF",
                series: [
                    {
                        name: '故障统计',
                        type: 'pie',
                        radius: ['66%', '60%'],
                        avoidLabelOverlap: false,
                        label: {
                            show: true,
                            position: 'outside',
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: 15,
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: true,
                            lineStyle: {
                                width: 4,
                            },
                            length: 30
                        },
                        data: [
                            {value: 484, name: '老化故障'},
                            {value: 735, name: '开路故障'},
                            {value: 580, name: '短路故障'},
                            {value: 986, name: '遮荫故障'},
                            {value: 110, name: '其他故障'},
                        ]
                    }
                ]
            };
            myChart.setOption(option);
        }

        function initLine() {
            var myChart = echarts.init(document.getElementById('m1'));
            const colors = ['#5470C6', '#EE6666'];
            option = {
                color: colors,
                tooltip: {
                    trigger: 'none',
                    axisPointer: {
                        type: 'cross'
                    }
                },
                backgroundColor: "#FFFFFF",
                legend: {},
                grid: {
                    top: 70,
                    bottom: 50
                },
                xAxis: [
                    {
                        type: 'category',
                        axisTick: {
                            alignWithLabel: true
                        },
                        axisLine: {
                            onZero: false,
                            lineStyle: {
                                color: colors[1]
                            }
                        },
                        axisPointer: {
                            label: {
                                formatter: function (params) {
                                    return (
                                        'Precipitation  ' +
                                        params.value +
                                        (params.seriesData.length ? '：' + params.seriesData[0].data : '')
                                    );
                                }
                            }
                        },
                        // prettier-ignore
                        data: ['7:00', '8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00']
                    },
                    {
                        type: 'category',
                        axisTick: {
                            alignWithLabel: true
                        },
                        axisLine: {
                            onZero: false,
                            lineStyle: {
                                color: colors[0]
                            }
                        },
                        axisPointer: {
                            label: {
                                formatter: function (params) {
                                    return (
                                        'Precipitation  ' +
                                        params.value +
                                        (params.seriesData.length ? '：' + params.seriesData[0].data : '')
                                    );
                                }
                            }
                        },
                        // prettier-ignore
                        data: ['7:00', '8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00']
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '辐射值',
                        type: 'line',
                        fontcolor: 'white',
                        xAxisIndex: 1,
                        smooth: true,
                        emphasis: {
                            focus: 'series'
                        },
                        data: [
                            50.6, 60.9, 90.0, 260.4, 440.7, 900.7, 500.6, 330.2, 248.7, 180.8, 60.0, 20.3
                        ],
                        itemStyle: {
                            normal: {
                                lineStyle: {
                                    width: 4
                                }
                            }
                        },
                    },
                    {
                        name: '发电量',
                        type: 'line',
                        smooth: true,
                        emphasis: {
                            focus: 'series'
                        },
                        data: [
                            50.9, 60.9, 110.1, 250.7, 480.3, 920.2, 490.6, 315.6, 255.4, 180.4, 100.3, 10.7
                        ],
                        itemStyle: {
                            normal: {
                                lineStyle: {
                                    width: 4
                                }
                            }
                        },
                    }
                ]
            };
            myChart.setOption(option);
        }
    </script>
{% endblock %}